.about-image{
    position: relative;
}
.about-text{
    position: absolute;
    top: 120px;
    left: 50px;
    background-color: #ff7b0083;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 900;
    color: white;
    font-size: 40px;
}
.principal-msg img{
border-radius: 50%;
}
.school-details{
    padding-left: 100px;
}