.header-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;


}
span{
    margin-right: 30px;
    color:#2D1D54 ;
}
.link{
    margin-top: 27px;
    font-weight: 500;
}
span:hover{
    border-top: 3px solid #F78800;
}
